body {
  margin: 0;
  padding: 0;
  background-color: #f4f5fb;
}
.container {
  margin: 4rem 8rem;
}

.nav {
  background-color: #373759;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  margin-left: 20px;
}

.logo-text h2 {
  color: #03ccbb;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.ect {
  color: #6c89f4;
}

.conn {
  color: #03ccbb;
}

.logInContainer {
  display: flex;
  align-items: center;
}

.logIn-image {
  position: relative;
  background-color: #373759;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.logIn-title {
  color: #03ccbb;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 370px;
}

.logIn-title h4 {
  margin: 0;
}

.hi {
  color: #fff;
}

.logIn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
  height: 500px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  width: 100%;
  background-color: #03ccbb !important;
}

.already {
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
  color: #5f5f5f;
}

.sign {
  padding: 0 1rem;
}

.signUp-p {
  color: #5f5f5f;
  font-size: 18px;
}

.sign-in {
  color: #6c89f4;
  text-decoration: none;
}

.footer {
  height: 50px;
  background-color: #373759;
}

.home {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

.messages {
  flex: 30% 0;
  background-color: #fff;
  /* height: 700px; */
  border-radius: 22px;
  padding: 2rem;
}

.chat {
  flex: 50% 0;
}

.chatInput {
  background-color: #fff;
  min-height: 615px;
  border-radius: 22px;
  padding: 1rem;
}

.chat-form {
  margin-top: 2rem;
  position: relative;
}

form .MuiOutlinedInput-root {
  border-radius: 22px;
  background-color: #fff;
}

.send-icon {
  color: blue;
}

.send-button {
  position: absolute;
  top: -47px;
  left: 92%;
}

.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-message {
  border-bottom: 2px solid #f4f5fb;
  margin: 20px 0;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user-name h4 {
  margin: 0;
  font-size: 18px;
}

.user-msg {
  font-size: 17px;
}

.time {
  color: #5f5f5f;
}

.user-message-avatar {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.user-info-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.user-chat-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user-chat-name p {
  margin: 0;
  font-size: 18px;
}

.user-chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-chat-li {
  width: 200px;
  background-color: #03ccbb;
  margin: 20px;
  color: #fff;
  padding: 1rem;
  border-radius: 22px;
  border-bottom-left-radius: 0;
}

.user-chat-li:nth-child(2n) {
  background-color: #6c89f4;
  margin-left: auto;
  border-radius: 22px;
  border-bottom-right-radius: 0;
}
